<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="viewModalLabel">View Historian Record</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form [formGroup]="form" novalidate class="needs-validation">
        <div class="modal-body">
          <div class="form-group text-left">
            <label for="transactionId">Id</label>
            <textarea formControlName="transactionId" class="form-control"></textarea>
          </div>
          <div class="form-group text-left">
            <label for="transactionType">Type</label>
            <input formControlName="transactionType" class="form-control">
          </div>
          <div class="form-group text-left">
            <label for="transactionInvoked">Invoked</label>
            <textarea formControlName="transactionInvoked" class="form-control"></textarea>
          </div>
          <div class="form-group text-left">
            <label for="participantInvoking">Invoking</label>
            <textarea formControlName="participantInvoking" class="form-control"></textarea>
          </div>
          <div class="form-group text-left">
            <label for="identityUsed">Identity</label>
            <textarea formControlName="identityUsed" class="form-control"></textarea>
          </div>
          <div class="form-group text-left">
            <label for="transactionTimestamp">Timestamp</label>
            <input formControlName="transactionTimestamp" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="errors" class="alert alert-danger" role="alert">
    <strong>Error:</strong> {{errors}}
  </div>
  <div class="row">
    <div class="col-12 text-primary">
      <h2>HistorianRecords</h2>
    </div>
  </div>
  <div class="row p-3 border border-primary bg-primary text-white" *ngIf="items">
    <div class="col-12 col-md-5 col-lg-5">Type</div>
    <div class="col-12 col-md-1 col-lg-1">Timestamp</div>
    <div class="col-12 col-md-6 col-lg-6">Id</div>
  </div>
  <div class="row table-row p-1 border" [class.striped]="index % 2" *ngFor="let item of items; let index = index">
    <div class="col-12 col-md-5 col-lg-5">{{item.transactionType}}</div>
    <div class="col-12 col-md-1 col-lg-1">{{item.transactionTimestamp | date : 'dd.MM.yyyy HH:mm' }}</div>
    <div class="col-12 col-md-6 col-lg-6">
      <a (click)="editForm(item.transactionId);" href="#" data-toggle="modal" data-target="#viewModal">
        {{item.transactionId}}
      </a>
    </div>
  </div>

</div>