<!-- Lang Dialog -->
<div class="modal fade" id="langModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">{{ 'translation.dialog.header' | i18n}}</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p [innerHtml]="'translation.dialog.p1' | i18n | safe"></p>
        <p [innerHtml]="'translation.dialog.p2' | i18n | safe"></p>
        <p [innerHtml]="'translation.dialog.p3' | i18n | safe"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'action.close' | i18n}}</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-primary fixed-top shadow-lg">
  <div class="container">
    <a class="navbar-brand text-white" routerLink="/home" routerLinkActive="active">
      <span class="fa fa-home fa-lg"></span> {{ 'navigation.home' | i18n}}
    </a>
    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="fa fa-bars fa-lg"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a id="navbarProjects" class="nav-link dropdown-toggle text-white" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-project-diagram fa-lg"></span> {{ 'navigation.projects' | i18n}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarProjects">
            <a class="dropdown-item" routerLink="/projects/housing-cooperative" routerLinkActive="active">
              <span class="fa fa-file-contract fa-lg"></span> {{ 'project.housing-cooperative' | i18n}}
            </a>
            <a class="dropdown-item" routerLink="/projects/ussr-2.0" routerLinkActive="active">
              <span class="fa fa-dove fa-lg"></span> {{ 'project.ussr-2.0' | i18n}}
            </a>
            <a class="dropdown-item" routerLink="/projects/pension-fund" routerLinkActive="active">
              <span class="fa fa-blind fa-lg"></span> {{ 'project.pension-fund' | i18n}}
            </a>
            <a class="dropdown-item" routerLink="/projects/municipal-services" routerLinkActive="active">
              <span class="fa fa-clipboard-list fa-lg"></span> {{ 'project.municipal-services' | i18n}}
            </a>
            <a class="dropdown-item" routerLink="/projects/bank" routerLinkActive="active">
              <span class="fa fa-piggy-bank fa-lg"></span> {{ 'project.bank' | i18n}}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a id="navbarManagement" class="nav-link dropdown-toggle text-white" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-users fa-lg"></span> {{ 'navigation.management' | i18n}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarManagement">
            <a class="dropdown-item" routerLink="/projects/management/participants" routerLinkActive="active">
              <span class="fa fa-user-tie fa-lg"></span> {{ 'navigation.management.participants' | i18n}}
            </a>
            <a class="dropdown-item" routerLink="/projects/management/assets" routerLinkActive="active">
              <span class="fa fa-book-open fa-lg"></span> {{ 'navigation.management.assets' | i18n}}
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/system/historian-records" routerLinkActive="active">
              <span class="fa fa-history fa-lg"></span> {{ 'navigation.management.historian-records' | i18n}}
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about-us" routerLinkActive="active">
            <span class="fa fa-address-card fa-lg"></span> {{ 'navigation.about-us' | i18n}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contact-us" routerLinkActive="active">
            <span class="fa fa-seedling fa-lg"></span> {{ 'navigation.contact-us' | i18n}}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="flag-icon flag-icon-{{flag}}"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarLanguages">
            <a class="dropdown-item" (click)='useLang("ru")'>
              <span class="flag-icon flag-icon-ru"></span> Pусский язык
            </a>
            <a class="dropdown-item" (click)='useLang("en")'>
              <span class="flag-icon flag-icon-us"></span> English
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-az"></span>Azərbaycan dili
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-am"></span> Հայերենի լեզուն
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-by"></span> Беларускую мову
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-ge"></span> ქართული ენა
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-kz"></span> Қазақ тілі
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-kg"></span> Кыргыз
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-lv"></span> Latviešu valoda
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-lt"></span> Lietuvių kalba
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-md"></span> Limba moldovenească
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-tj"></span> Забони тоҷикӣ
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-tm"></span> Türkmen dili
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-ua"></span> Українська мова
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-uz"></span> O'zbek
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#langModal">
              <span class="flag-icon flag-icon-ee"></span> Eesti keel
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" data-toggle="modal" data-target="#loginModal">
            <span class="fa fa-sign-in-alt fa-lg"></span> {{ 'action.login' | i18n}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>