<mat-toolbar color="primary">
  <span><img src="/assets/img/usqm-red.png" height=42 width=42></span>
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/projects" routerLinkActive="active"><span class="fas fa-project-diagram fa-lg"></span> Projects</a>
  <a mat-button routerLink="/about-us" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> About</a>
  <a mat-button routerLink="/contact-us" routerLinkActive="active"><span class="fa fa-seedling fa-lg"></span> Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/projects/management/participants" routerLinkActive="active">Participants</a>
  <a mat-button routerLink="/projects/management/assets" routerLinkActive="active">Assets</a>
  <a mat-button routerLink="/projects/management/transactions" routerLinkActive="active">Transactions</a>
  <a mat-button routerLink="/system/historian-records" routerLinkActive="active">History</a>
</mat-toolbar>