<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="editModalLabel">Edit Asset</h4>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form [formGroup]="form" novalidate class="needs-validation">
        <input formControlName="assetId" type="hidden">
        <div class="modal-body">
          <div class="form-group text-left">
            <label for="owner">Owner</label>
            <input formControlName="owner" class="form-control" [class.is-invalid]="formErrors.owner">
            <div class="invalid-feedback" *ngIf="formErrors.owner">{{formErrors.owner}}</div>
          </div>
          <div class="form-group text-left">
            <label for="value">Value</label>
            <input formControlName="value" class="form-control" [class.is-invalid]="formErrors.value">
            <div class="invalid-feedback" *ngIf="formErrors.value">{{formErrors.value}}</div>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="save()" type="submit" class="btn btn-primary" [disabled]="form.invalid" [class.disabled]="form.invalid"
            data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="deleteModalLabel">Delete Asset</h4>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form [formGroup]="form">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="delete()" type="submit" class="btn btn-primary" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="errors" class="alert alert-danger" role="alert">
  <strong>Error:</strong> {{errors}}
</div>
<div class="row">
  <div class="col-12 col-md-9 text-primary">
    <h5>SampleAsset</h5>
  </div>
  <div class="col-12 col-md-3 p-1">
    <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
      <span class="fa fa-plus"></span> Create
    </button>
  </div>
</div>
<div class="row p-3 border border-primary bg-primary text-white" *ngIf="items">
  <div class="col-12 col-md-4 col-lg-5">AssetId</div>
  <div class="col-12 col-md-4 col-lg-5">Owner</div>
  <div class="col-12 col-md-2 col-lg-1">Value</div>
  <div class="col-12 col-md-2 col-lg-1">Actions</div>
</div>
<div class="row table-row p-1 border" [class.striped]="index % 2" *ngFor="let item of items; let index = index">
  <div class="col-12 col-md-4 col-lg-5">{{item.assetId}}</div>
  <div class="col-12 col-md-4 col-lg-5">{{item.owner}}</div>
  <div class="col-12 col-md-2 col-lg-1">{{item.value}}</div>
  <div class="col-12 col-md-2 col-lg-1 text-white">
    <div class="btn-group" role="group" aria-label="Actions">
      <a (click)="editForm(item.assetId);" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal">
        <span class="fas fa-edit"></span>
      </a>
      <a (click)="setId(item.assetId);" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deleteModal">
        <span class="fas fa-trash-alt"></span>
      </a>
    </div>
  </div>
</div>