<div class="row mt-3">

  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#description" role="tab" data-toggle="tab">
          {{"project.tabs.description" | i18n}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#data" role="tab" data-toggle="tab">
          {{"project.tabs.data" | i18n}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#tasks" role="tab" data-toggle="tab">
          {{"project.tabs.tasks" | i18n}}
        </a>
      </li>
    </ul>

    <div class="tab-content mt-3 mb-3">
      <div role="tabpanel" class="tab-pane fade show active" id="description">
        <div class="row">
          <div class="col-12">
            <app-alert [message]='"project.alert.not-implemented" | i18n'></app-alert>
          </div>
          <div class="col-12">
            <div class="row">

              <div class="col-12">
                <h5>{{'project.municipal-services.challenge.header' | i18n}}</h5>
                <p>{{'project.municipal-services.challenge.p1' | i18n}}</p>
              </div>

              <div class="col-12">
                <h5>{{'project.municipal-services.proposal.header' | i18n}}</h5>
                <app-unit-p [base]="'project.municipal-services.proposal'" [parts]="'p1,p2'"></app-unit-p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="data">
      </div>

      <div role="tabpanel" class="tab-pane fade" id="tasks">
      </div>
    </div>
  </div>

</div>