<div class="row mt-3">

  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#description" role="tab" data-toggle="tab">
          {{"project.tabs.description" | i18n}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#data" role="tab" data-toggle="tab">
          {{"project.tabs.data" | i18n}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#tasks" role="tab" data-toggle="tab">
          {{"project.tabs.tasks" | i18n}}
        </a>
      </li>
    </ul>

    <div class="tab-content mt-3 mb-3">
      <div role="tabpanel" class="tab-pane fade show active" id="description">
        <div class="row">
          <div class="col-12">
            <app-alert [message]='"project.alert.not-implemented" | i18n'></app-alert>
          </div>
          <div class="col-12">
            <div class="row">

              <div class="col-12">
                <h5>{{"project.ussr-2.0.challenge.header" | i18n}}</h5>
                <p>{{"project.ussr-2.0.challenge.p1" | i18n}}</p>
              </div>

              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-lg-4">
                    <h5 class="mt-3">{{"project.ussr-2.0.proposal.header" | i18n}}</h5>
                    <app-unit-p [base]="'project.ussr-2.0.proposal'" [parts]="'p1,p2,p3,p4'"></app-unit-p>
                  </div>
                  <div class="col-12 col-lg-8">
                    <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XRlv-_uRhbY?rel=0"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <h5>{{"project.ussr-2.0.money.header" | i18n}}</h5>
                <app-unit-p [base]="'project.ussr-2.0.money'" [parts]="'p1,p2,p3'"></app-unit-p>
              </div>

              <div class="col-12">
                <h5>{{"project.ussr-2.0.goal.header" | i18n}}</h5>
                <p>{{"project.ussr-2.0.goal.p1" | i18n}}</p>
                <div class="row">
                  <div class="col-12 col-lg-9">
                    <app-unit-p [base]="'project.ussr-2.0.goal'" [parts]="'p1,p2,p3,p4'"></app-unit-p>
                  </div>
                  <div class="col-12 col-lg-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" [innerHtml]="'project.gdp.china' | i18n | safe"></li>
                      <li class="list-group-item" [innerHtml]="'project.gdp.usa' | i18n | safe"></li>
                      <li class="list-group-item">...</li>
                      <li class="list-group-item" [innerHtml]="'project.gdp.russia' | i18n | safe"></li>
                      <li class="list-group-item">...</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <h5>{{"project.ussr-2.0.rules.header" | i18n}}</h5>
                <p>{{"project.ussr-2.0.rules.p1" | i18n}}</p>
                <app-unit-ul [base]="'project.ussr-2.0.rules.p1'" [parts]="'i1,i2,i3,i4,i5,i6,i7'"></app-unit-ul>
              </div>

              <div class="col-12">
                <h5>{{"project.ussr-2.0.management.header" | i18n}}</h5>
                <app-unit-p [base]="'project.ussr-2.0.management'" [parts]="'p1,p2'"></app-unit-p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="data">
      </div>

      <div role="tabpanel" class="tab-pane fade" id="tasks">
      </div>
    </div>
  </div>

</div>