<div class="row mt-3">

  <div class="col-md-3 col-sm-12 align-self-center">
    <img class="img-thumbnail mx-auto d-block" src="/assets/img/photo.jpg" alt="{{ 'about-us.about-me.photo' | i18n }}">
  </div>

  <div class="col-md-9 col-sm-12">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote ">
        <p class="mb-0">{{"quote.q1.p1" | i18n}}</p>
        <p class="mb-0">{{"quote.q1.p2" | i18n}}</p>
        <p class="mb-0">{{"quote.q1.p3" | i18n}}</p>
        <p class="mb-0">{{"quote.q1.p4" | i18n}}</p>
        <footer class="blockquote-footer  text-right">
          {{"quote.q1.author" | i18n}} (<cite title="{{'quote.q1.source'  | i18n}}">{{"quote.q1.source" | i18n}}</cite>)
        </footer>
      </blockquote>
    </div>
  </div>

  <div class="col-12">
    <h5>{{"about-us.about-me.header" | i18n}}</h5>
    <p>{{"about-us.about-me.p1" | i18n}}</p>
  </div>

  <div class="col-12 mt-3">
    <h5>{{"about-us.genesis.header" | i18n}}</h5>
    <p>{{"about-us.genesis.p1" | i18n}}</p>
  </div>

  <div class="col-12">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote">
        <p class="mb-0">{{"quote.q2" | i18n}}</p>
        <footer class="blockquote-footer text-right">{{"quote.q2.author" | i18n}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="col-12 mt-3">
    <p>{{"about-us.genesis.p2" | i18n}}</p>
    <p>{{"about-us.genesis.p3" | i18n}}</p>
  </div>

  <div class="col-12 mt-3">
    <h5>{{"about-us.goal.header" | i18n}}</h5>
    <p>{{"about-us.goal.p1" | i18n}}</p>
  </div>

  <div class="col-12">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote">
        <p class="mb-0">{{"quote.q3" | i18n}}</p>
        <footer class="blockquote-footer text-right">{{"quote.q3.author" | i18n}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="col-12 mt-3">
    <p>{{"about-us.goal.p2" | i18n}}</p>
  </div>

  <div class="col-12">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote">
        <p class="mb-0">{{"quote.q4" | i18n}}</p>
        <footer class="blockquote-footer text-right">{{"quote.q4.author" | i18n}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="col-12 mt-3">
    <p>{{"about-us.goal.p3" | i18n}}</p>
    <p>{{"about-us.goal.p4" | i18n}}</p>
  </div>

  <div class="col-12 mt-3">
    <h5>{{"about-us.conclusion.header" | i18n}}</h5>
    <p>{{"about-us.conclusion.p1" | i18n}}</p>
  </div>

  <div class="col-12">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote">
        <p class="mb-0">{{"quote.q5" | i18n}}</p>
        <footer class="blockquote-footer text-right">{{"quote.q5.author" | i18n}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="col-12 mt-3">
    <p>{{"about-us.conclusion.p2" | i18n}}</p>
    <p>{{"about-us.conclusion.p3" | i18n}}</p>
  </div>

</div>