<div class="row mt-3">

  <div class="col-md-3 col-sm-12 align-self-center">
    <img class="img-thumbnail mx-auto d-block" src="/assets/img/photo.jpg" alt="{{ 'about-us.about-me.photo' | i18n }}">
  </div>

  <div class="col-md-9 col-sm-12 mb-3">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote ">
        <p class="mb-0">{{"quote.q1.p1" | i18n}}</p>
        <p class="mb-0">{{"quote.q1.p2" | i18n}}</p>
        <p class="mb-0">{{"quote.q1.p3" | i18n}}</p>
        <p class="mb-0">{{"quote.q1.p4" | i18n}}</p>
        <footer class="blockquote-footer  text-right">
          {{"quote.q1.author" | i18n}} (<cite title="{{'quote.q1.source'  | i18n}}">{{"quote.q1.source" | i18n}}</cite>)
        </footer>
      </blockquote>
    </div>
  </div>

  <app-unit [base]="'about-us.about-me'" [parts]="'p1'"></app-unit>

  <app-unit [base]="'about-us.genesis'" [parts]="'p1'"></app-unit>
  <div class="col-12 mb-3">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote">
        <p class="mb-0">{{"quote.q2" | i18n}}</p>
        <footer class="blockquote-footer text-right">{{"quote.q2.author" | i18n}}</footer>
      </blockquote>
    </div>
  </div>
  <app-unit [base]="'about-us.genesis'" [parts]="'p2,p3'" [withHeader]="false"></app-unit>

  <app-unit [base]="'about-us.goal'" [parts]="'p1'"></app-unit>
  <div class="col-12 mb-3">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote">
        <p class="mb-0">{{"quote.q3" | i18n}}</p>
        <footer class="blockquote-footer text-right">{{"quote.q3.author" | i18n}}</footer>
      </blockquote>
    </div>
  </div>
  <app-unit [base]="'about-us.goal'" [parts]="'p2'" [withHeader]="false"></app-unit>
  <div class="col-12 mb-3">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote">
        <p class="mb-0">{{"quote.q4" | i18n}}</p>
        <footer class="blockquote-footer text-right">{{"quote.q4.author" | i18n}}</footer>
      </blockquote>
    </div>
  </div>
  <app-unit [base]="'about-us.goal'" [parts]="'p3,p4'" [withHeader]="false"></app-unit>

  <app-unit [base]="'about-us.conclusion'" [parts]="'p1'"></app-unit>
  <div class="col-12 mb-3">
    <div class="card card-body bg-light shadow">
      <blockquote class="blockquote">
        <p class="mb-0">{{"quote.q5" | i18n}}</p>
        <footer class="blockquote-footer text-right">{{"quote.q5.author" | i18n}}</footer>
      </blockquote>
    </div>
  </div>
  <app-unit [base]="'about-us.conclusion'" [parts]="'p2,p3'" [withHeader]="false"></app-unit>

</div>