<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="editModalLabel">{{"management.proposals.dialog.title" | i18n}}</h4>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form [formGroup]="form" novalidate class="needs-validation">
        <div class="modal-body">
          <div class="form-group text-left">
            <label for="owner">{{"management.proposals.field.creator" | i18n}}</label>
            <input formControlName="creator" class="form-control" [class.is-invalid]="formErrors.creator">
            <div class="invalid-feedback" *ngIf="formErrors.creator">{{formErrors.creator}}</div>
          </div>
          <div class="form-group text-left">
            <label for="value">{{"management.proposals.field.header" | i18n}}</label>
            <textarea formControlName="header" class="form-control" [class.is-invalid]="formErrors.header" rows="2"></textarea>
            <div class="invalid-feedback" *ngIf="formErrors.header">{{formErrors.header}}</div>
          </div>
          <div class="form-group text-left">
            <label for="value">{{"management.proposals.field.body" | i18n}}</label>
            <textarea formControlName="body" class="form-control" [class.is-invalid]="formErrors.body" rows="12"></textarea>
            <div class="invalid-feedback" *ngIf="formErrors.body">{{formErrors.body}}</div>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="save()" type="submit" class="btn btn-primary" [disabled]="form.invalid" [class.disabled]="form.invalid"
            data-dismiss="modal">{{"action.save" | i18n}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">{{"action.close" | i18n}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="item">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="deleteModalLabel">{{item.header}}</h4>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form [formGroup]="form">
        <div class="modal-body">
          <p>{{item.body}}</p>
          <div fxLayout="row" fxLayoutAlign="space-around center mt-3" fxLayoutGap="10px">
            <a (click)="approve(item.id)" class="btn btn-primary text-white">
              <span class="far fa-smile fa-lg"></span> - <span class="badge badge-light">{{item.approved}}</span>
            </a>
            <a (click)="reject(item.id)" class="btn btn-danger text-white">
              <span class="far fa-frown fa-lg"></span> - <span class="badge badge-light">{{item.rejected}}</span>
            </a>
            <a (click)="abstain(item.id)" class="btn btn-secondary text-white">
              <span class="far fa-meh fa-lg"></span> - <span class="badge badge-light">{{item.abstained}}</span>
            </a>
            <span class="flex-spacer"></span>
            <button type="button" class="btn btn-default" data-dismiss="modal">{{"action.close" | i18n}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div *ngIf="errors" class="col-12 alert alert-danger" role="alert">
    <strong>{{"error" | i18n}}:</strong> {{errors}}
  </div>
  <div class="col-12 col-sm-9 mt-3 mb-3">
    <h2>{{"management.proposals.title" | i18n}}</h2>
  </div>
  <div class="col-12 col-sm-3 mt-3 mb-3">
    <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
      <span class="fa fa-plus"></span> {{"management.proposals.action.add" | i18n}}
    </button>
  </div>

  <div class="col-12 col-md-6" *ngFor="let item of items">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{item.header}}</h5>
        <p class="card-text">{{item.body | truncate : 400}}</p>
      </div>
      <div class="card-footer">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
          <a (click)="editForm(item.id);" class="btn btn-primary text-white" data-toggle="modal" data-target="#viewModal">
            <span class="fa fa-caret-down"></span> {{"details" | i18n}}
          </a>
          <span class="flex-spacer"></span>
          <a (click)="approve(item.id)" class="btn btn-primary text-white">
            <span class="far fa-smile fa-lg"></span> - <span class="badge badge-light">{{item.approved}}</span>
          </a>
          <a (click)="reject(item.id)" class="btn btn-danger text-white">
            <span class="far fa-frown fa-lg"></span> - <span class="badge badge-light">{{item.rejected}}</span>
          </a>
          <a (click)="abstain(item.id)" class="btn btn-secondary text-white">
            <span class="far fa-meh fa-lg"></span> - <span class="badge badge-light">{{item.abstained}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>